{% extends '::base.html.twig' %}

{% block body %}
    <div class="container">
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Adresse</th>
                    <th>Téléphone</th>
                    <th>Site internet</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
                        <td>{{ user.address }}</td>
                        <td>{{ user.phone }}</td>
                        <td><a href="{{ user.website }}">{{ user.website }}</a></td>
                        <td><a href="{{ path("contact_show", {'id': user.id} ) }}" class="label label-default">Voir</a></td>
                    </tr> 
                {% endfor %}
            </tbody>
        </table>
        <ul>
        </ul>
    </div>
{% endblock %}